/* * {
    font-family: sans-serif;
    line-height: 1.6em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
}
.banner {
    background: transparent url("/img/Featured-Image-1024x768.jpg") no-repeat center fixed;
    background-size: cover;
    text-align: center;
    height: 600px;
    width: 100%;
    margin-bottom: 3em;
    display: table;
}
.banner-head {
    display: table-cell;
    vertical-align:middle;
    margin-bottom: 0;
    color: white;
    font-size: 30px;
    text-shadow: 0.07em 0 black,0 0.07em black,-0.07em 0 black, 0 -0.07em black;
}
.icon{
    height: 40px;
    width: auto;
}
header,
main,
footer {
    margin: 0 auto;
    max-width: 1500px;
}
body{
    background-color: white;
}

header {
    padding: 1em 0;
}
header h1{
    font-size: 2.5em;
    margin: 1em;
}
header span{
    font-size: 1.5em;
    margin: 1.5em;
    color: #999;
    
}
.span{
    margin: auto;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.5em;

    display: flex;
    flex-flow: row;
    justify-content:center;
    background: rgb(8, 75, 151);
}
nav a {
    padding: .5em 2em;
    font-size: 1.685em;
    font-weight: 600;
    text-decoration: none;
    color: black;
}
nav a:hover {
    background: white;
}
section{
    margin: 1em 0;
    padding: 3em;
    min-height: 20em;
}
section ul{
    padding-left: 1.5em;
}
#projectlist{
    display: grid;
    grid-template-columns: repeat(3, minmax(0,1fr));
    grid-template-rows: auto;
    grid-column-gap: 1em;
    max-width: 100%;
}
#projectlist article{
    background: #ccc;
    padding: 1em;
}
#projectlist article img{
    width: 100%;
    border: 10px solid rgb(8, 75, 151);
}
  
.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000;
 }
 .java {width: 60%; background-color: green;}
 .html {width: 10%; background-color: yellowgreen;}
 .css {width: 5%; background-color: turquoise;}
 .js {width: 2%; background-color: violet;}
 .python {width: 65%; background-color: orangered;}

*{box-sizing:border-box}

 .container {
   width: 100%;
   background-color: rgba(5, 34, 196, 0.582);
}
.container {
    border-radius: 8px;
    background-color: #f2f2f2;
    padding: 10px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(8, 75, 151);
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    resize: vertical 
} */
